[user]
	name=mnespor
	email=
[alias]
	br = branch
	co = checkout
	copyhash = "!f() { git log | grep -E -o -m 1 '[a-z0-9]{40}' | tr -d '\\r\\n' | pbcopy; }; f"
	up = "!git remote update -p; git merge --ff-only @{u}"
	st = status
	statsu = status
	sup = "!git submodule update --init --recursive;"
	what = "!git commit -a -m \"$(curl -L http://whatthecommit.com/index.txt)\""
	delete-merged-branches = "!f() { git branch --format='%(refname:lstrip=2)' --merged | grep '/' | xargs -n 1 git branch --delete; }; f"
	hot = "!f() { git log --pretty=format: --name-only | sort | uniq -c | sort -rg | head -10; }; f"
	missing-from = "!f() { git log --no-merges \"$1\" ^HEAD; }; f"
[core]
	excludesfile = /Users/mnespor/.gitignore_global
[credential]
	helper = osxkeychain
[commit]
	template = /Users/mnespor/.git-commit-template.txt
[diff]
	compactionHeuristic=true
